.row-margin{
  margin-top: 2em;
}

.card{
  margin: 1em 0 2em 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.contact-margin{
  margin-bottom: 1em;
}

.bg{
  background: #000080;
  color: #ffffff;
  padding: .6em 0;
  margin: 1.5em 0;
  width: 100%;
  font-size:large;
}

.margin{
  margin: 2em 0;
}

.margin h1{
  font-size: 4em;
}

input[type=text] {
  text-align: center;
  background: none;
  border: none;
}

.phone {
  font-size: 25px;
  padding: 0 !important;
}

.name {
  font-size: 20px;
}

.email {
  font-style: italic;
}
